.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

.postContent {
    display: flex;
    flex-direction: column;

    flex: 1;    
}

.createPost {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.createPost textarea {
    resize: none;
    height: 6rem;
    width: 100%;
    padding: 1rem;
    background: var(--gray-600);
    border: 0;
    border-radius: 4px;
    color: var(--white);
    margin-bottom: 8px;
}

.postContent button {
    background: var(--pink-300);
    border: 0;
    border-radius: 4px;
    margin-bottom: 8px;
    color: var(--white);
    font-weight: bold;
}

.createPost button {
    margin-left: 8px;
    height: 5.8rem;
    width: 80px;
    background: var(--pink-500);
    color: var(--white);
    border: 0;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.createPost button:hover {
    transform: scale(1.01);
}